<% # TODO: show avatar of user tweeting %>

<% if @ditto.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ditto.errors.count, "error") %> prohibited this Thank You from being saved:</h2>

    <ul>
    <% @ditto.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [:thank, @ditto] do |f| %>
  <%= f.text_field :thank_id, hidden: true, required: true %>

  <p>
    <% # TODO: trim text to 138 charactors %>
    <%= f.text_area :text, value: @ditto.text, required: true %>
    <span><%= thank_url @ditto.thank %> will be appended to the tweet</span>
  </p>

  <p>
    <%= f.submit 'Tweet' %>
    <%= link_to 'Cancel', @thank %>
  </p>
<% end %>
