<header>
  <div>
    <h1>Thank You Delivery Alpha</h1>
    <!-- <p>Advocate for Positive Action</p> -->
    <!-- <p>Support acts of good</p> -->
    <!-- <p>Support acts for good</p> -->
    <p>Support positive action</p>
  </div>

  <div class='user-dropdown'>
    <% if current_user %>
      <%= "Hi #{current_user.name}" %>

      <% if current_user.admin? %>
        <%= link_to 'Create thank you', new_thank_path %>
      <% end %>

      <%= form_for :session, url: sessions_destroy_path, method: :delete do |f| %>
        <p>
          <%= f.submit 'Sign out' %>
        </p>
      <% end %>

    <% elsif !current_page?(controller: :sessions, action: :new) %>
      <%= link_to 'Sign in with Twitter', sessions_new_path %>
    <% end %>
  </div>
</header>
