<% if flash.any? %>
  <% flash.each do |name, message| %>
    <% if message.is_a? String %>
      <div class='snackbar-message' data-message="<%= message %>" data-type="<%= name %>" data-multiline="<%= message.size >= 48 %>"></div>
    <% else %>
      <div class='snackbar-message' data-message="<%= message[:message] %>" data-type="<%= name %>" data-multiline="<%= message[:message].size >= 48 %>"></div>
    <% end %>
  <% end %>
<% end %>

<div class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
  <div class="mdc-snackbar__text"></div>
  <div class="mdc-snackbar__action-wrapper">
    <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
  </div>
</div>
