<header class="mdc-toolbar mdc-toolbar--fixed">
  <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
  </section>

  <section class="mdc-toolbar__section">
    <section class="mdc-toolbar__section">
      <span class="mdc-toolbar__title"><%= link_to 'Thank You', root_path %></span>
    </section>
  </section>

  <!-- <section class="mdc-toolbar__section">
    <span>Be an addvocate for positive action</span>
  </section> -->

  <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
    <% if current_user %>
      <div id='welcome'>
        <%= "Hi @#{current_user.screen_name}" %>
      </div>

      <% if current_user.admin? %>
        <%= link_to 'Create deed', new_deed_path %>
      <% else %>
        <%= link_to 'Suggest Thank You', 'https://goo.gl/forms/D8N4bQsz3gl7kbKo2' %>
      <% end %>

      <%= render 'sessions/sign-out' %>

    <% elsif !current_page?(controller: :sessions, action: :new) %>
      <%= link_to 'Sign in with Twitter', new_sessions_path %>
    <% end %>
  </section>
</section>
</header>
