<header class="mdc-toolbar mdc-toolbar--fixed">
  <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
  </section>

  <section class="mdc-toolbar__section">
    <section class="mdc-toolbar__section">
      <span class="mdc-toolbar__title"><%= link_to 'Thank You', root_path %></span>
    </section>
  </section>

  <!-- <section class="mdc-toolbar__section">
    <span>Be an addvocate for positive action</span>
  </section> -->

  <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
    <% if current_user %>
      <%= "Hi @#{current_user.screen_name}" %>
      <i class="material-icons menu">menu</i>

      <div class="mdc-simple-menu" tabindex="-1">
        <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
          <li class="mdc-list-item" role="menuitem" tabindex="0">
            <% if current_user.admin? %>
              <%= link_to 'Create deed', new_deed_path, class: 'mdc-button' %>
            <% else %>
              <%= link_to 'Suggest Thank You', 'https://goo.gl/forms/D8N4bQsz3gl7kbKo2', class: 'mdc-button' %>
            <% end %>
          </li>
          <li class="mdc-list-item" role="menuitem" tabindex="0">
            <%= render 'sessions/sign-out' %>
          </li>
        </ul>
      </div>

    <% elsif !current_page?(controller: :sessions, action: :new) %>
      <%= link_to 'Sign in with Twitter', new_sessions_path, class: 'mdc-button auth' %>
    <% end %>
  </section>
</section>
</header>
