<header>
  <div>
    <h1><%= link_to 'Thank You', root_path %></h1>
    <p>Be an addvocate for positive action</p>
  </div>

  <div>
    <% if current_user %>
      <%= "Hi #{current_user.name}" %>

      <% if current_user.admin? %>
        <%= link_to 'Create deed', new_deed_path %>
      <% end %>

      <%= render 'sessions/sign-out' %>

    <% elsif !current_page?(controller: :sessions, action: :new) %>
      <%= link_to 'Sign in with Twitter', new_sessions_path %>
    <% end %>
  </div>
</header>
