<%= render 'shared/model_flash', item: @deed, name: 'Deed' %>

<%= form_for @deed do |f| %>
  <p>Thank You</p>
  <p>
    <%= text_field_tag 'deed[names][]', nil, placeholder: 'name', required: true %>
    <%= text_field_tag 'deed[names][]', nil, placeholder: 'name' %>
    <%= text_field_tag 'deed[names][]', nil, placeholder: 'name' %>
  </p>
  <p>for</p>
  <p>
    <%= f.text_area :text, placeholder: 'awesome thing that you did', required: true %>
  </p>
  <p>
    <%= f.text_field :twitter_id, placeholder: '123456789' %>
  </p>
  <p>
    <%= f.submit 'Create deed' %>
  </p>
<% end %>
