<%= form_for :deeds, url: deeds_path do |f| %>
  <p>
    <%= f.text_area :text, value: 'Thank You @ for ', required: true %>
  </p>
  <p>
    <%= f.text_field :name, required: true, placeholder: 'name' %>
  </p>
  <p>
    <%= f.text_field :reply_to_tweet_id, placeholder: '123456789' %>
  </p>

  <p>
    <%= f.submit 'Create Deed' %>
  </p>
<% end %>
