<%= render 'shared/model_flash', item: @link, name: 'Link' %>

<%= form_for [@deed, @link] do |f| %>
  <p>
    <%= f.label :text %>
    <%= f.text_field :text, placeholder: 'Example', required: true %>
  </p>

  <p>
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url, placeholder: 'https://example.com', required: true, type: :url %>
  </p>

  <p>
    <%= f.submit 'Add link' %>
    <%= link_to 'Cancel', @deed %>
  </p>
<% end %>
