<%= form_for :link, url: thank_links_path do |f| %>
  <p>
    <%= f.text_field :url, placeholder: 'https://example.com', required: true, type: :url %>
  </p>

  <p>
    <%= f.text_field :text, placeholder: 'Example', required: true %>
  </p>

  <p>
    <%= f.submit 'Add link' %>
    <%= link_to 'Cancel', @thank %>
  </p>
<% end %>
