<%= form_for [:thank, @link] do |f| %>
  <%= f.text_field :thank_id, hidden: true, required: true %>
  <p>
    <%= f.text_field :url, placeholder: 'https://example.com', required: true, type: :url %>
  </p>

  <p>
    <%= f.text_field :text, placeholder: 'Example', required: true %>
  </p>

  <p>
    <%= f.submit 'Add link' %>
    <%= link_to 'Cancel', @thank %>
  </p>
<% end %>
