<%= render 'shared/model_flash', item: @thank, name: 'Thank You' %>

<p>
  <%= image_tag current_user.avatar_url, width: 42, height: 42 %>
</p>

<%= form_for [@deed, @thank] do |f| %>
  <p>
    <%= f.text_area :text, value: @thank.text, required: true %>
    <p><span id='thank_url'><%= deed_url @thank.deed %></span> will be appended to the tweet<p>
    <p><span id='remaining_thank_text_length'></span> charactors remaining</p>
  </p>

  <p>
    <%= f.submit 'Tweet' %>
    <%= link_to 'Cancel', @deed %>
  </p>
<% end %>
