<%= render 'shared/model_flash', item: @thank, name: 'Thank You' %>

<%= render 'shared/tweet', twitter_id: @thank.deed.twitter_id, data: @thank.deed.data %>

<div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
  <%= form_for [@deed, @thank] do |f| %>
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large"><%= current_user.name %></h1>
      <h2 class="mdc-card__subtitle">@<%= current_user.screen_name %></h2>
    </section>

    <section class="mdc-card__supporting-text">
      <div class="mdc-textfield mdc-textfield--multiline">
        <%= f.text_area :text, required: true, class: 'mdc-textfield__input', rows: 4, cols: 80 %>
      </div>
      <div id="text-helptext" class="mdc-textfield-helptext--persistent" aria-hidden="true">
        <div id='deed_url'><%= deed_url @thank.deed %></div> will be appended to the tweet
      </div>

      <p><span id='remaining_thank_text_length'></span> charactors remaining</p>
    </section>

    <section class="mdc-card__actions">
      <%= link_to 'Cancel', @deed, class: 'mdc-button mdc-button--compact mdc-card__action' %>
      <%= f.submit 'Tweet', class: 'mdc-button mdc-button--compact mdc-card__action mdc-button--primary mdc-button--raised' %>
    </section>
  <% end %>
</div>
