<%= form_for :thanks, url: thanks_path do |f| %>
  <p>
    <%= f.text_area :text, value: 'Thank you @ for ', required: true %>
  </p>
  <p>
    <%= f.text_field :name, required: true, placeholder: 'name' %>
  </p>
  <p>
    <%= f.text_field :reply_tweet_id, placeholder: '123456789' %>
  </p>

  <p>
    <%= f.submit 'Create Thank You' %>
  </p>
<% end %>
