<h1>New Thank You</h1>
<%= form_for :thanks, url: thanks_path do |f| %>
  <p>
    <%= f.label :status_id %><br>
    <%= f.text_field :status_id %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
