<p>
  <strong><%= @thank.text %></strong>
</p>

<p>
  <%= render 'links', thank: @thank, links: @thank.links, user: @thank.user %>
<p>

<p>
  <% if current_user && current_user.dittoed?(@thank) %>
    <span> You already thanked @<%= @thank.name %></span>
  <% else %>
    <span><%= link_to "Thank @#{@thank.name}", new_thank_ditto_path(@thank) %></span>
  <% end %>
<p>

<p>
  <span>Thanked by</span>
  <%= render 'dittos', dittos: @thank.dittos, more: @thank.dittos_count - 10 %>
<p>

<p>
  <span><%= link_to 'All thanks', root_path %></span>
<p>
