<!DOCTYPE html>
<html>
  <head>
    <title>ThankYou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <% if current_user %>
        <%= "Hi #{current_user.name}" %>
      <% else %>
       <%= link_to 'Sign in with Twitter', sessions_new_path %>
     <% end %>
    </p>
    <%= yield %>
  </body>
</html>
