<!DOCTYPE html>
<html>
  <head>
    <title>Thank You</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <%= render 'shared/header' %>

      <div>
        <p>
          <strong>What is Thank You?</strong>
          <em>Thank You is a project working to make the world a better place. We are accomplishing that by publicly recognizing people for their good deeds on Twitter.</em>
        </p>
      </div>

      <%= render 'shared/flash' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
    <%= javascript_include_tag 'analytics', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
