<!DOCTYPE html>
<html>
  <head>
    <title>Thank You</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
      <%= render 'shared/header' %>

      <main class='mdc-layout-grid mdc-toolbar__fixed-adjust'>
        <div class='mdc-layout-grid__cell mdc-layout-grid__cell--span-12'>
          <p>
            <strong>What is Thank You?</strong>
            <em>Thank You is a project working to make the world a better place. We are accomplishing that by publicly recognizing people for their good deeds on Twitter.</em>
          </p>
        </div>

        <%= render 'shared/flash' %>
        <%= yield %>
      </main>

      <%= render 'shared/footer' %>

    <%= javascript_include_tag 'analytics', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
