<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Thank You' %></title>
    <meta name="description" content="Be an advocate for positive action." />

    <meta name="theme-color" content="#2196F3">
    <meta name="msapplication-navbutton-color" content="#2196F3">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2196F3">

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1.0" />
    <meta name="google-site-verification" content="LnlhY2aAHURVtezyLqyOzHygj1fHG_lS4Y9XSeQ2A2Q" />
    <%= tag :meta, name: 'firebase-api-key', content: AppConfig.firebase_api_key %>
    <%= tag :meta, name: 'firebase-messaging-sender-id', content: AppConfig.firebase_messaging_sender_id %>

    <%= favicon_link_tag image_path('heart.png') %>
    <%= tag :link, rel: 'manifest', href: manifest_path(format: :json) %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= javascript_include_tag 'https://cdn.ravenjs.com/3.12.0/raven.min.js' %>
    <%= javascript_include_tag 'https://www.gstatic.com/firebasejs/3.6.10/firebase-app.js' %>
    <%= javascript_include_tag 'https://www.gstatic.com/firebasejs/3.6.10/firebase-messaging.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
      <%= render 'shared/header' %>

      <div class='content'>
        <main class='mdc-layout-grid mdc-toolbar__fixed-adjust'>
          <div class='mdc-layout-grid__cell mdc-layout-grid__cell--span-12'>
            <p>
              <strong>What is Thank You?</strong>
              <em>Thank You aims to encourage positive action by recognizing people on Twitter for their good deeds.</em>
            </p>
          </div>

          <%= render 'shared/flash' %>
          <%= yield %>
        </main>
      </div>

      <%= render 'shared/footer' %>

    <%= javascript_include_tag 'analytics', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
