<!DOCTYPE html>
<html>
  <head>
    <title>Thank You Delivery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <%= render 'shared/header' %>

      <% # TODO Remove this after the alpha %>
      <div class='error'>
        <h2>Welcome to the Thank You Delivery Alpha</h2>
        <p>Note these restrictions during the alpha:</p>
        <ul>
          <li>Data saved will be deleted before launch</li>
          <li>Posting to Twitter is disabled</li>
        </ul>
      </div>

      <%= render 'shared/flash' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
