<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Thank You' %></title>
    <meta name="description" content="Be an addvocate for positive action.">

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1.0">
    <%= favicon_link_tag image_path('heart.png') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/header' %>

      <div class='content'>
        <main class='mdc-layout-grid mdc-toolbar__fixed-adjust'>
          <div class='mdc-layout-grid__cell mdc-layout-grid__cell--span-12'>
            <p>
              <strong>What is Thank You?</strong>
              <em>Thank You aims to make the world a better place by recognizing people on Twitter for their good deeds.</em>
            </p>
          </div>

          <%= render 'shared/flash' %>
          <%= yield %>
        </main>
      </div>

      <%= render 'shared/footer' %>

    <%= javascript_include_tag 'analytics', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
